<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>An치lisis de transporte</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a id="title-btn" class="navbar-brand" href="/">An치lisis de transporte</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <% if (locals.session.loggedin && locals.session.admin) { %>
          <li id="vehicles-btn" class="nav-item">
            <a class="nav-link" href="/bus_list">Transportes<span class="sr-only"></span></a>
          </li>
          <% } %>

          <% if (!locals.session.loggedin) { %>
          <li id="login-btn" class="nav-item">
            <a class="nav-link" href="/login">Iniciar sesi칩n<span class="sr-only"></span></a>
          </li>
          <% } %>

          <% if (locals.session.loggedin) { %>
          <li id="logout-btn" class="nav-item">
            <a class="nav-link" href="/logout">Cerrar sesi칩n<span class="sr-only"></span></a>
          </li>
          <% } %>
        </ul>
      </div>
  </nav>